#product_section {
  width:100vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;

}

#product_section > div {
  /* border: 1px solid red; */
  margin: 5px;
  cursor: pointer;
}

#carouselExampleControlsNoTouching {
  /* border: 1px solid black; */
}

.carousel slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_image {
  width:300px;
  height: 400px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.carousel-control-prev {
  /* background-color: red; */
  width: auto;
  height: fit-content;
  top: 45%;
  left:10px;
}

.carousel-control-next {
  /* background-color: blue; */
  width: fit-content;
  height: fit-content;
  top: 45%;
  right:10px;
}

.carousel-control-prev-icon {
  background-image:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cg transform="rotate(180 12 12)"%3E%3Cpath fill="black" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6l-6 6Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}

.carousel-control-next-icon {
  background-image:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="black" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6l-6 6Z"%2F%3E%3C%2Fsvg%3E')
}  



#product_image_text {
  width: 300px;
  height: 70px;
  /* border: 1px solid black; */
  padding: 5px;
}

#product_image_text > p {
  margin: 0;
}

#product_image_text > p:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
}

#product_image_text > p:nth-child(2) {
  font-size: 13px;
}

#product_image_text > p:nth-child(3) {
  font-size: 11px;
}

@media screen and (max-width:768px) {
  #product_section > div {
    margin: 5px;
    cursor: pointer;
    width:220px;
    height: 360px;
    overflow-y: hidden;

  }

  .product_image {
    width:inherit;
    height: auto;
    align-items:none;
    overflow-y: hidden;
    transition: 0.5s;

  }

  #product_image_text {
    width: inherit;
    height: inherit;
    padding: 2px;
  }



  
}