.swiper {
  width:900px;
  height:123px;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0;
  padding: 0;
}

.swiper > li {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  margin: 10px;
  height:fit-content;
 
}

.swiper > li > div:nth-child(1) {
  width:70px;
  height: 70px;
  /* border: 1px solid black; */
  border-radius: 50%;
  overflow-y: hidden;

}

.swiper > li > div > img {
  width:inherit;
  height:inherit;
}

.swiper > li > div:nth-child(2) {
  width:70px;
  height:auto;
  /* border: 1px solid black; */
  font-size: 11px;
  text-align: center;
  color: rgb(95, 95, 95);

}

.swiper > li > div:nth-child(2) > p {
  margin: 0;
  
}





