*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
}


#wrapper {
  width:100vw;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-family:"SD_gothic";

}

@font-face {
  font-family:"SD_gothic";
  src: url(../asset/font/SDGothicNeoaTTF-eMd.woff);
  
}